<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TextEditorPath" value="C:\Users\Doug\SkyDrive\Util\Sublime Text\sublime_text.exe"/>
		<add key="TextEditorArguments" value="&quot;{path}&quot;:{line}"/>
		<add key="OutputEncoding" value="ASCII"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
</configuration>